.theme-input {
  position: absolute;
  left: -9999px;
}

.theme-toggle {
  display: inline-block;
  width: 72px;
  height: 32px;
  background-color: #83d8ff;
  border-radius: 60px;
  position: relative;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.theme-input:checked + .theme-toggle {
  background-color: #749dd6;
}

.toggle__handler {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 26px;
  height: 26px;
  background-color: #ffcf96;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
  z-index: 2;
}

.theme-input:checked + .theme-toggle .toggle__handler {
  transform: translateX(40px) rotate(0);
  background-color: #ffe5b5;
}

/* Crateras */
.crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 200ms ease-in-out;
}

.crater--1 {
  top: 13px;
  left: 8px;
  width: 3px;
  height: 3px;
}
.crater--2 {
  top: 20px;
  left: 18px;
  width: 5px;
  height: 5px;
}
.crater--3 {
  top: 8px;
  left: 20px;
  width: 6px;
  height: 6px;
}

.theme-input:checked + .theme-toggle .crater {
  opacity: 1;
}

/* Estrelas */
.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transition: all 300ms ease;
}

.star--1 {
  top: 6px;
  left: 28px;
  width: 22px;
  height: 2px;
}
.star--2 {
  top: 11px;
  left: 22px;
  width: 22px;
  height: 2px;
}
.star--3 {
  top: 17px;
  left: 30px;
  width: 22px;
  height: 2px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transform: translate3d(3px, 0, 0);
}
.star--4 {
  top: 12px;
  left: 10px;
  width: 2px;
  height: 2px;
}
.star--5 {
  top: 26px;
  left: 14px;
  width: 2px;
  height: 2px;
}
.star--6 {
  top: 28px;
  left: 22px;
  width: 2px;
  height: 2px;
}

.theme-input:checked + .theme-toggle .star--1 {
  width: 2px;
  height: 2px;
}
.theme-input:checked + .theme-toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}
.theme-input:checked + .theme-toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

.theme-input:checked + .theme-toggle .star--4,
.theme-input:checked + .theme-toggle .star--5,
.theme-input:checked + .theme-toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.theme-input:checked + .theme-toggle .star--4 {
  transition-delay: 200ms;
}
.theme-input:checked + .theme-toggle .star--5 {
  transition-delay: 300ms;
}
.theme-input:checked + .theme-toggle .star--6 {
  transition-delay: 400ms;
}
